package pages

import (
	"github.com/nelsonmarro/vapulabs-web/templates"
	"github.com/nelsonmarro/vapulabs-web/templates/components/footer"
	"github.com/nelsonmarro/vapulabs-web/templates/components/header"
	"github.com/nelsonmarro/vapulabs-web/templates/components/products"
)

templ Pricing(title, basicMonthly, basicAnnual, pymeMonthly, pymeAnnual, corpMonthly, corpAnnual string) {
	@templates.MainLayout(title + " | Precios") {
		@header.Header()
		@products.PricingView(basicMonthly, basicAnnual, pymeMonthly, pymeAnnual, corpMonthly, corpAnnual)
		@footer.Footer()
	}
}

